<h1>Company Stacks</h1>
<!--
<ul>
    {{#each Company}}
    <li>{{name}}</li>
    {{/each}}
</ul>
-->
{{#each Fields}}
<ul>{{companyName}}
    <li>
        {{FieldName}}
    </li>
    <li>
        {{codeName}}
    </li>
</ul>
{{/each}}